
#mu-footer{
	display: inline;
	float: left;
	width: 100%;
}

.mu-footer-area{
	display: inline;
	float: left;
	padding: 30px 0;
	text-align: center;
	width: 100%;
}

.mu-footer-area a{
	font-weight: 600;
}

.mu-social-media {
	display: inline;
	float: left;
	width: 100%;
}

.mu-social-media a {
	display: inline-block;
	font-size: 15px;
	width: 35px;
	height: 35px;
	line-height: 33px;
	text-align: center;
	margin: 0 5px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	border-radius: 50%;
}

.mu-social-media a:hover,
.mu-social-media a:focus {
	background-color: #fff;
}

.mu-copyright {
	margin-top: 10px;
	display: inline-block;
}