#mu-hero {
	display: inline;
	float: left;
	padding: 160px 0 90px;
	width: 100%;
}

.mu-hero-left{
	display: inline;
	float: left;
	width: 100%;
}

.mu-hero-right {
	display: inline;
	float: left;
	width: 100%;
}

.mu-hero-left h1 {
	color: #fff;
	font-size: 50px;
	margin-bottom: 20px;
}

.mu-hero-left p {
	color: #fff;
	margin-bottom: 20px;
}

.mu-hero-left .mu-primary-btn {
	margin-top: 20px;
	background-color: #fff;
	font-weight: 600;
}

.mu-hero-left span {
	display: block;
	margin-top: 10px;
	color: #f8f8f8;
}

#mu-counter {
	background-color: #fff;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	display: inline;
	float: left;
	position: relative;
	width: 100%;
}

.mu-counter-area {
	display: inline;
	float: left;
	padding: 70px 0 50px;
	width: 100%;
}

.mu-counter-area h2 {
	color: #fff;
	text-align: center;
}

.mu-counter-block {
	display: inline;
	float: left;
	width: 100%;
}

.mu-single-counter {
	display: inline;
	float: left;
	text-align: center;
	width: 80%;
	border: 1px solid #ddd;
	padding-bottom: 20px;
	margin: 0 10%;
}

.mu-single-counter i {
	font-size: 40px;
	padding: 15px 40px;
	margin-bottom: 0px;
	display: inline-block;
	padding-bottom: 0;
	margin-top: -60px;
	background: #fff;
}

.counter-value {
	font-size: 35px;
	font-weight: 700;
	margin-top: 10px;
	margin-bottom: 10px;
}

.mu-counter-name {
	color: #333;
}


#mu-book-overview {
	background-color: #f8f8f8;
	display: inline;
	float: left;
	width: 100%;
}

.mu-book-overview-area {
	display: inline;
	float: left;
	padding: 100px 0;
	width: 100%;
}

.mu-heading-area {
	display: inline;
	float: left;
	text-align: center;
	padding: 0 10%;
	width: 100%;
}

.mu-heading-title {
	color: #1c1b1b;
	margin-bottom: 15px;
	position: relative;
}

.mu-header-dot {
	border-radius: 0;
	height: 3px;
	width: 100px;
	display: inline-block;
	margin-bottom: 20px;
}

.mu-book-overview-content{
	display: inline;
	float: left;
	margin-top: 70px;
	width: 100%;
}

.mu-book-overview-single {
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
	background: #fff;
	padding: 20px 10px;
	margin: 10px 0 15px;
}

.mu-book-overview-icon-box {
	font-size: 25px;
	padding: 5px 12px;
	margin-bottom: 30px;
	display: inline-block;
}

.mu-book-overview-single h4{
	margin-bottom: 20px;
}

#mu-testimonials {
	background-image: url("");
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	display: inline;
	float: left;
	position: relative;
	width: 100%;
}

#mu-testimonials::before {
	background: rgba(0,0,0,0.9);
	bottom: 0;
	content: '';
	left: 0;
	top: 0;
	right: 0;
	position: absolute;
	opacity: 0.84;
}

.mu-testimonials-area {
	display: inline;
	float: left;
	padding: 150px 0 175px;
	width: 100%;
}

.mu-testimonials-area h2 {
	color: #fff;
	text-align: center;
}

.mu-testimonials-block {
	display: inline;
	float: left;
	margin-top: 60px;
	width: 100%;
}

.mu-testimonial-slide li{
	list-style: none;
	text-align: center;
}

.mu-testimonial-slide li p {
	color: #fff;
	padding: 0 10%;
}

.mu-testimonial-slide .mu-rt-img {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin-top: 25px;
	display: inline-block;
}

.mu-rt-name {
	margin-bottom: 5px;
	color: #fff;
	line-height: 1;
	margin-top: 25px;
	letter-spacing: 1px;
}

.mu-rt-title {
	color: #fff;
	font-size: 14px;
}

.mu-testimonial-slide .slick-dots {
    bottom: -50px;
}

.mu-testimonial-slide .slick-dots li button {
	height: 15px;
	padding: 0;
	width: 15px;
	border-radius: 50%;
	border: 1px solid #f8f8f8;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.mu-testimonial-slide .slick-dots li button:hover,
.mu-testimonial-slide .slick-dots li button:focus,
.mu-testimonial-slide .slick-dots li.slick-active button {
	opacity: 1;
}

.mu-testimonial-slide .slick-dots li button:before {
	display: none;
}


.btn-submit{
    margin-top: 10px;
}
.form-label{
    color: white;
}