.container-book {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    background: lightblue;
}

.container-book input {
    display: none;
}

.container-book img {
    width: 100%;
    height: 70%;
    margin-top: 15px;
}

.container-book h1 {
    font-size: 26px;
}

.container-book h2 {
    margin-top: 65px;
    font-size: 22px;
}

.container-book .book {
    display: flex;
}

.container-book #cover {
    width: 400px;
    height: 550px;
}

.container-book .flip-book {
    width: 400px;
    height: 550px;
    position: relative;
    perspective: 1500px;
}

.container-book .flip {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: center left;
    transform-style: preserve-3d;
    transition: 0.5s;
    color: #000;
    border-left: 1px dashed #f0f0f0;
}

.container-book .front {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    box-sizing: border-box;
    padding: 0 13px;

}

.container-book .back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    background-color: #fff;
}

.container-book .next-btn {
    position: absolute;
    border: 2px solid black;
    border-radius: 10px;
    padding: 4px;
    bottom: 13px;
    right: 13px;
    cursor: pointer;
    color: #000;
}

.container-book .back-btn {
    position: absolute;
    border: 2px solid black;
    border-radius: 10px;
    padding: 4px;
    bottom: 13px;
    right: 13px;
    cursor: pointer;
    color: #000;
}

.pageS{
    height: 100%;
    width: 100%;
    background-color: #005f73;
    color: white;
}
.pages-style{
    font-size: 18px !important;
    padding: 10px;
}
.container-book  .titlebook{
    font-size: 25px !important;
}
@media (max-width: 480px) {
    .pages-style{
        font-size: 12px !important;
    }
    .container-book  .titlebook{
        font-size: 15px !important;
    }
    .container-book #cover {
        width: 200px;
        height: 250px;
    }
    
    .container-book .flip-book {
        width: 200px;
        height: 250px;
    }
}